<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.min.js"></script>
    <style>
        a {
            text-decoration: none;
        }

        body {
            background-image: url(https://i.yapx.ru/XgCru.png);
            font-family: "Uni Sans";
            color: black;
        }

        .center-text {
            text-align: center;
            font-family: Uni Sans;
        }

        .header {
            width: 1300px;
            height: 80px;
            border-radius: 50%/10%;
            position: relative;
            background-color: #00515c;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
        }
    </style>
</head>

<body>
    <div class="center-text">
        <h1>BOOCKING HOTEL</h1>
        <p>сервис по бронированию отелей</p>
    </div>

    <div class="container">
        <div class="header">
            <div class="center">
                <a href="{{ url_for('get_all_hotel') }}">ГЛАВНАЯ СТРАНИЦА</a>
            </div>
            <div style="width: 200px; display: flex; justify-content: space-around;" class="right">
                <a href="{{ url_for('get_cart_page') }}">КОРЗИНА</a>
                <a href="{{ url_for('get_login_page') }}">ПРОФИЛЬ</a>
            </div>
        </div>
        <div id="world-time" style="position: fixed; top: 10px; right: 10px; background: #fff; padding: 10px; border: 1px solid #ccc; z-index: 1000;">
            <span id="time"></span>
        </div>
        {% block body %}
        <div class="d-flex flex-wrap gap-2 justify-content-center">
            {% for i in result %}
            <div class="card w-100" style="max-width: 300px; background-color: #00005f; background-image: url("C:\Users\79782\Downloads\смвм.png");">
                <a href="/hotel/{{ i.id }}">
                    <div class="card-body">
                        <ul class="list-group">
                            <li name="id" class="list-group-item">ID Отеля: {{ i.id }}</li>
                            <li name="title" class="list-group-item">Название: {{ i.title }}</li>
                            <li name="price" class="list-group-item">Цена: {{ i.price }}</li>
                        </ul>
                    </div>
                </a>
                <div class="w-100 mx-auto p-4 d-flex gap-2 justify-content-center">
                    <input class="form-control" name="number" type="number" min="1" max="31" value="1">
                    <button class="btn btn-primary buy-button w-25" data-id="{{ i.id }}" data-title="{{ i.title }}"
                        data-price="{{ i.price }}">Бронь</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const buyButtons = document.querySelectorAll('.buy-button');

            buyButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const itemId = this.getAttribute('data-id');
                    const itemTitle = this.getAttribute('data-title');
                    const itemPrice = this.getAttribute('data-price');
                    const itemQuantity = this.previousElementSibling.value;

                    addToCart(itemId, itemTitle, itemPrice, itemQuantity);
                });
            });

            moment.

locale('ru');

            function displayTime() {
                var now = moment().tz("Europe/Moscow");
                var timeString = now.format('MMMM Do YYYY, h:mm:ss a') + " (Московское время)";
                document.getElementById('time').innerHTML = timeString;
            }

            displayTime();
            setInterval(displayTime, 1000);
        });

        function addToCart(id, title, price, quantity) {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            const existingItem = cart.find(item => item.id === id);
            if (existingItem) {
                existingItem.quantity += parseInt(quantity);
            } else {
                cart.push({ id, title, price, quantity: parseInt(quantity) });
            }
            localStorage.setItem('cart', JSON.stringify(cart));
        }
    </script>
</body>

</html>
